header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50;
    right: 0;
    z-index: 1000;
    /* Ensure header is above other content */
    width: 100%;
    height: 60px;
    /* Adjust height as needed */
    opacity: .5;
}

.logo {
    margin-left: 10px;
    max-width: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50px;

}

nav {
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 40px;
    margin-top: -75%;
    margin-bottom: 25%;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    opacity: .7;
    background: rgba(58, 58, 58, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(58, 58, 58, 1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: .5;
}

body {
    background-image: url('https://focus.namirial.global/wp-content/uploads/sites/4/2023/06/ai-in-cybersecurity.jpeg');
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* Stop scrolling */
}


section {
    padding: 20px;
}

.container {
    max-width: 100px;
    margin-top: 30%;
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 50%;
    margin-left: 47%;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    opacity: .6;
}

button {
    background-color: #1ba520;
    font-weight: 1000;
    color: white;
    padding: 10px 20px;

    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background-color: #025607;
}