body {
 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 55px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

header:hover {
    opacity: 0.5;
}

.logo {
    margin-right: 1600px;
    margin-left: 10px;
    max-width: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

nav {
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

  
  .content-container {
   position: relative; /* Ensure content container's position is relative */
   z-index: 1; /* Ensure content is above glitch effect */
    /* Adjust the margin-top according to your design */
  margin-bottom: 350px;
   
  }
  .container2 {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 40px;
    margin-bottom: 85px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    opacity: .7;
  }
  
  .content {
    text-align: left;      
    padding: 10px;
    margin: 50px auto;
   
  }   
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: .7;
  }
  
  .typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 2.8s steps(30, end)infinite,
  blink-caret .75s;
  }
  
  /* The typing effect */
  @keyframes typing {
  from { width: 0 }
  to { width: 43% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
  }
  