body {
 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50;
    right: 0;
    z-index: 1000;
    /* Ensure header is above other content */
    width: 100%;
    height: 55px;
    opacity: 0;
    transition: opacity 0.5s ease; /* Add transition for opacity */
  }

  header:hover {
    opacity: 0.5; /* Set opacity to 0.7 on hover */
  }



.logo {
  margin-left: 10px;
  max-width: 100px;
  height: 50px;
  width: 50px;
  border-radius: 50px;    

}

nav {
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content-container {
 position: relative; /* Ensure content container's position is relative */
 z-index: 1; /* Ensure content is above glitch effect */
  /* Adjust the margin-top according to your design */
margin-bottom: 350px;
 
}
.container2 {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  font-size: small;
  opacity: .7;
  background: rgba(26, 24, 24, 0.824);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.572);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

.content {
  text-align: left;      
  padding: 10px;
  margin: 0px auto;
 
}   

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
footer:hover {
  opacity: 0.5; /* Set opacity to 0.7 on hover */
}




.typewriter h1 {
color: #fff;
font-family: monospace;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .15em; /* Adjust as needed */
animation: 
typing 2.8s steps(30, end)infinite,
blink-caret .75s;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 33% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange }
}
